body {
	margin: 0;
	font-family: Helvetica;
}
  
/* ==========================================header========================================*/

section {
	background-image: url("IMAGENES/edificios.jpg");
	padding-bottom: 200px;	
}
.texto_impactante {
	text-shadow: 0.1em 0.1em 0.2em black;
	padding-top: 300px;
	font-family: Helvetica;
	z-index: 2;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: white;
	font-weight: bolder;
	text-align: center;
}

.ver_curso_de_trading {
	height: 35px;
	width: 300px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #FF5733;
	border-radius: 25px;
	text-align: center;
}

.ver_curso_de_trading a {
	text-shadow: 0.1em 0.1em 0.2em black;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.ver_curso_de_trading:hover a {
	font-size: 23px;
	transition: .3s ease all;
	color: white;
}

/* ============================================main==========================================*/
main {
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

.contenedor_parte_negra_centrar {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px; /* ES OBLIGATORIO QUE ESTÉ ASÍ */
	width: 90%; /* Ajuste de ancho adaptativo */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding-top: 150px;
	padding-bottom: 150px;
}

.titulo_parte_negra {
	font-size: 35px;
}

.contenedor_parte_negra_centrar p {
	text-align: justify;
}
img{
	border-radius: 10px;
	width:550px;
	height: 400px;

}
@media (max-width: 1020px) {
	.contenedor_parte_negra_centrar {
		display: grid;
		grid-template-columns: 1fr;
		gap: 80px; 

	}
	img {
		max-width: 100%;
		height: auto; /* OBLIGATORIO, si queremos que la pagina al reducirse se reduzca y la imagen se verá mas estrecha pero de altura seguirá igual
		por esto, es necesario que la altura tambien se estreche porporcionalmente...*/
		display: block;
   		margin: 0 auto; /* Esto centrará horizontalmente la imagen */
  }
	
}

/* ============================================aside=========================================*/
aside {
	background-color: #DC7633;
	align-content: center;
	text-align: center;
	height: 200px;
	font-weight: bolder;
	font-size: 25px;
}

.contenedor_naranja_enlace {
	background-color: #1A237E;
	margin-top: 15px;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-color: #FF5733;
	border-radius: 25px;
	font-size: 18px;
}

.contenedor_naranja_enlace a {
	color: white;
	text-decoration: none;
}

.contenedor_naranja_enlace:hover {
	color: red;
	text-decoration: none;
	background-color: #2530b0;
}
