body{
    background-color: #c9d6ff;
    margin: 0px;
}

.background-video-intermediorecuperada{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}
main{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}